# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
stacktrace.txt

# OS or editor directories
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.*.local

# Testing
coverage/
.nyc_output/

# TypeScript cache
*.tsbuildinfo

# Optional REPL history
.node_repl_history

# Output directories
dist/
build/
tmp/
temp/
out/
uploads/

# Mac files
*.swp

# Astro
public/
